@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;500;600;700&display=swap");

* {
  box-sizing: border-box;
  line-height: 1;
}

body,
html {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

a {
  color: #242331;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.global-header {
  background: #ffffff;
  box-shadow: 0 2px 7px -4px rgba(0, 0, 0, 0.5);
  padding: 0 32px;
}

.global-header .row {
  display: block;
  position: relative;
}

.menu-toggler {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  position: absolute;
  top: 18px;
  right: 0;
}

.company-brand {
  display: inline-block;
}

.company-brand h1 {
  color: #242331;
  font-family: "Playfair Display", cursive;
  font-weight: 700;
  line-height: 1;
  margin: 14px 0;
}

.navbar {
  display: block;
  width: 100%;
  max-height: 0;
  overflow: hidden;
}

.navbar__menu {
  text-align: center;
}

.navbar__menu li {
  margin: 14px 0;
}

.navbar__menu-item {
  -webkit-background-clip: text;
  animation-name: navbarLinkAnimation;
  animation-duration: 2000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  background-color: rgb(247, 151, 30);
  background-image: linear-gradient(
    90deg,
    rgba(247, 151, 30, 1) 26%,
    rgba(0, 212, 255, 1) 88%
  );
  background-clip: text;
  background-size: 300% 300%;
  cursor: pointer;
  color: #212529;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
}

.navbar__menu-item:hover {
  color: transparent;
}

.business-link {
  color: #cccccc;
}

.login-link {
  color: #fd7a43;
}

.hero {
  padding: 0 50px;
  background-image: url(../images/hero-illustration.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: calc(50% + 180px) 50%;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.hero-content {
  margin: 100px 0;
  position: relative;
}

.hero-content__text {
  padding: 200px 0;
}

.hero-content__text p {
  color: #cccccc;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

.hero-content__text h2 {
  color: #242331;
  font-size: 32px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 16px;
}

.hero-content__button {
  background-color: #242331;
  background: #242331;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  margin-top: 16px;
}

/* Keyframes */
@keyframes navbarLinkAnimation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

/* Media */
@media(min-width: 768px) {
  .menu-toggler {
    display: none;
  }

  .global-header .row {
    display: flex;
  }

  .navbar {
    align-items: center;
    justify-content: space-between;
    display: flex;
    max-height: 300px;
    margin-left: 16px;
    transition: none;
  }

  .navbar__menu {
    display: flex;
  }

  .navbar__menu li:first-child {
    margin-right: 16px;
  }
}