.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.button {
  padding: 16px 24px;
  border-radius: 10px;
}

.menu-active {
  max-height: 300px;
  transition: all 800ms cubic-bezier(.17,.67,.62,1.12);
}
